<div class=" btn-group dropdown no-arrow me-2">
        <%= @apply%>
        
        <button type="button" class="nav-link btn btn-transparent  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            
                <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenu2">
            <li class="nav-item">
                <%= link_to edit_festival_apply_path(@apply.festival, @apply), class: " rounded nav-link ", data: { bs_toggle: "tooltip", bs_placement: "top" }, title: "Editar Postulaci贸n" do %>
                    <i class="fa-solid fa-pen-to-square m-2 text-black"></i>
                    Editar Postulaci贸n
                <% end %>
            </li>
            <li class="nav-item ">   
                <%= button_to festival_apply_path(@apply.festival, @apply), method: :delete, class: "nav-link btn btn-danger ", form: { "data-confirm" => "Estas seguro que quieres eliminar tu Postulaci贸n" } do %>
                    <i class="fa-solid fa-trash m-2"></i>
                    Eliminar Postulaci贸n
                <% end %>
            </li>
        </ul>
    </div>
