<h1>Editing apply</h1>

<%= render "form_edit", apply: @apply %>

<br>

<div>
  <%#= link_to "Show this apply", festival_apply_path(apply.festival, apply)%>|
  <%#= link_to "Back to applies", festival_applies_path %>
</div>
