<div id="<%= dom_id festival_organizer %>">
  <p>
    <strong>Festival:</strong>
    <%= festival_organizer.festival_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= festival_organizer.user_id %>
  </p>

</div>
