<div id="<%= dom_id festival_organizer %>">
  <p>
    <strong>Festival:</strong><br>

    <%= festival_organizer.festival.name %>
    <%= festival_organizer.festival.year %>

  </p>

  <p>
    <strong>User:</strong><br>
    <%= festival_organizer.user.name %>
  </p>

</div>
