<h1>New festival organizer</h1>

<%= render "form", admin_festival_organizer: @admin_festival_organizer %>

<br>

<div>
  <%= link_to "Back to festival organizers", admin_festival_organizers_path %>
</div>
