<h1>Confirmación de Postulación</h1>
<p>Hola <%= @user.name %>,</p>
<p>Te has postulado exitosamente al festival "<%= @festival.name %>  <%= @festival.year%>".</p>
<p>¡Esperamos que tengas una excelente presentación!</p>
