<p>¡Importante: Acción requerida para tu postulación al Festival Internacional de Circo "Pista de Oro 2023"!</p>

<p>Estimado/a <%= @user.name %>,</p>

<p>Esperamos que estés bien. Queremos informarte que necesitamos tu colaboración para continuar con tu postulación al Festival Internacional de Circo "Pista de Oro 2023".</p>

<p>Para que tu postulación sea tomada en cuenta, es necesario que aceptes los términos y condiciones del festival. A continuación, te proporcionamos los pasos a seguir:</p>

<ol>
  <li>Inicia sesión en tu cuenta en la plataforma del festival.</li>
  <li>Dirígete a la sección "Mis Postulaciones".</li>
  <li>Encuentra la postulación que deseas editar y haz clic en "Ver Postulación".</li>
  <li>En la página de detalles de la postulación, busca el menú de tres puntos (...) y selecciona "Editar Postulación".</li>
  <li>En la página de edición de la postulación, encontrarás una sección donde podrás revisar y aceptar los términos y condiciones del festival.</li>
  <li>Marca la casilla de aceptación y haz clic en "Guardar Cambios".</li>
</ol>

<p>Una vez que hayas realizado este paso, tu postulación estará completa y será considerada para el proceso de selección.</p>

<p>Lamentamos cualquier inconveniente que esto pueda haber causado y estamos trabajando arduamente para brindarte una plataforma de mejor calidad.</p>

<p>¡Agradecemos tu colaboración y esperamos ver tu postulación completa pronto!</p>

<p>Atentamente,</p>
<p>El equipo del Festival Internacional de Circo "Pista de Oro 2023"</p>

