
<%= form_tag enviar_correo_a_rechazados_admin_festival_path(@festival), method: :post do %>
  <div class="form-group">
    <%= submit_tag 'Enviar Correo Electrónico a Rechazados', class: 'btn btn-primary' %>
  </div>
<% end %>
