 <!-- Footer -->
<footer id="footer" class="sticky-footer bg-secondary mt-5">
    <div class=" my-auto">
        <div class="copyright text-light text-center my-auto">
            <span>Copyright &copy; FestivApp 2023</span>
            <span>Powered by: <a class="link-light" href="https://github.com/toffycaluga">Toffy Caluga</a></span>
        </div>
    </div>
        
</footer>
