<div class="rating">
  <div class="star">★</div>
  
  <% if rating==0 %>
    <div class="rating-value">Aun no has calificado esta Postulacion</div>
  <%else%>  
  <div class="rating-value-bold"><%= rating %></div>
  <% end %>
  
</div>
