<div id="<%= dom_id rating %>">
  <p>
    <strong>Stars:</strong>
    <%= rating.stars %>
  </p>

  <p>
    <strong>Apply:</strong>
    <%= rating.apply_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= rating.user_id %>
  </p>

</div>
