<p style="color: green"><%= notice %></p>

<h1>Festivals</h1>

<div id="festivals">
  <% @festivals.each do |festival| %>
    <%= render festival %>
    <p>
      <%= link_to "Show this festival", festival %>
    </p>
  
  <% end %>
</div>

<%= link_to "New festival", new_festival_path %>
