/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .avatar{
    width: 50px;


}

.avatar-preview-img {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-top: 10px;
  }

  .card.closed {
    /* Aplicar efecto de apagado */
    opacity: 0.5;
  }
  
  .card.closed img {
    /* Aplicar filtro en escala de grises a la imagen */
    filter: grayscale(100%);
  }
  .list-group .list-group-item {
    border: none; /* Eliminar el borde de los elementos p */
  }