<p style="color: green"><%= notice %></p>

<h1>Applies</h1>

<div id="applies">
  <% @applies.each do |apply| %>
    <%= render 'applies/data_apply', apply: apply %>
    <p>
      <%= link_to "Ver esta Postulación", festival_apply_path(apply.festival, apply), class:"btn btn-primary"%>
    </p>
  <% end %>
</div>


