<p style="color: green"><%= notice %></p>

<h1>Applies</h1>

<div id="applies">
  <% @applies.each do |apply| %>
    <%=render partial: 'applies/apply', locals: { apply: apply } %>
    <p>
      <%= link_to "Show this apply", festival_apply_path(apply.festival, apply)%>
    </p>
  <% end %>
</div>


