 <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Postulaciones</h1>
    <%# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> %>
</div>

<div id="applies">
  
  <% if @applies.present? %>
    <% @applies.each do |apply| %>
    <div id="festivals" class="col-xl-4 col-md-6 mb-6">

      <%= render 'applies/apply_detail', apply: apply %>
      <div class="text-end">
        <%= link_to "Ver esta Postulación", festival_apply_path(apply.festival, apply), class:"btn btn-primary text-end"%>
      </div>
    </div>
    <% end %>
  <% else %>
    <strong>Aún no has postulado a ningún festival</strong>
  <% end %>
</div>


